In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df1 = pd.read_csv('C:/Users/MSI KATANA/Desktop/practice ML/data engineering cw by inupa B/Data-Engineering-HCHO-gas-prediction-/SriLanka_Weather_Dataset.csv')
df1

,time,weathercode,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunrise,sunset,...,precipitation_hours,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,et0_fao_evapotranspiration,latitude,longitude,elevation,country,city
0,2010-01-01,2,30.0,22.7,26.1,34.4,25.2,29.2,2010-01-01T00:52,2010-01-01T12:35,...,0.0,11.7,27.4,20,4.58,7.000000,79.899994,16.0,Sri Lanka,Colombo
1,2010-01-02,51,29.9,23.5,26.2,33.8,26.2,29.8,2010-01-02T00:52,2010-01-02T12:36,...,1.0,13.0,27.0,24,3.84,7.000000,79.899994,16.0,Sri Lanka,Colombo
2,2010-01-03,51,29.5,23.2,26.0,34.3,26.3,29.9,2010-01-03T00:53,2010-01-03T12:36,...,3.0,12.3,27.4,16,3.65,7.000000,79.899994,16.0,Sri Lanka,Colombo
3,2010-01-04,2,28.9,21.9,25.3,31.6,23.4,27.8,2010-01-04T00:53,2010-01-04T12:37,...,0.0,17.0,34.6,356,3.79,7.000000,79.899994,16.0,Sri Lanka,Colombo
4,2010-01-05,1,28.1,21.3,24.5,30.1,23.1,26.1,2010-01-05T00:53,2010-01-05T12:37,...,0.0,18.7,37.1,355,4.97,7.000000,79.899994,16.0,Sri Lanka,Colombo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147475,2023-06-13,63,29.2,24.7,26.6,35.4,29.2,31.6,2023-06-13T00:24,2023-06-13T12:55,...,23.0,15.6,43.6,229,3.41,6.900002,80.000000,20.0,Sri Lanka,Oruwala
147476,2023-06-14,61,29.1,25.4,26.9,34.3,30.4,32.0,2023-06-14T00:24,2023-06-14T12:55,...,19.0,16.4,40.0,224,3.00,6.900002,80.000000,20.0,Sri Lanka,Oruwala
147477,2023-06-15,51,29.8,25.5,27.3,36.6,30.7,32.7,2023-06-15T00:24,2023-06-15T12:56,...,17.0,12.6,32.4,218,3.21,6.900002,80.000000,20.0,Sri Lanka,Oruwala
147478,2023-06-16,53,30.5,25.5,27.7,36.2,30.1,32.4,2023-06-16T00:25,2023-06-16T12:56,...,24.0,20.5,41.8,236,3.97,6.900002,80.000000,20.0,Sri Lanka,Oruwala
147479,2023-06-17,51,29.6,25.2,26.9,35.9,30.1,32.0,2023-06-17T00:25,2023-06-17T12:56,...,23.0,16.3,37.8,231,2.95,6.900002,80.000000,20.0,Sri Lanka,Oruwala

In [3]:
missing_values = df1.isnull()
# taking the count
missing_counts = missing_values.sum()

In [4]:
print("Missing Values:")
print(missing_counts)

Missing Values:
time                          0
weathercode                   0
temperature_2m_max            0
temperature_2m_min            0
temperature_2m_mean           0
apparent_temperature_max      0
apparent_temperature_min      0
apparent_temperature_mean     0
sunrise                       0
sunset                        0
shortwave_radiation_sum       0
precipitation_sum             0
rain_sum                      0
snowfall_sum                  0
precipitation_hours           0
windspeed_10m_max             0
windgusts_10m_max             0
winddirection_10m_dominant    0
et0_fao_evapotranspiration    0
latitude                      0
longitude                     0
elevation                     0
country                       0
city                          0
dtype: int64

In [5]:
print("\nSummary of Missing Values and Data Types:")
print(df1.info())

Summary of Missing Values and Data Types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147480 entries, 0 to 147479
Data columns (total 24 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   time                        147480 non-null  object
 1   weathercode                 147480 non-null  int64
 2   temperature_2m_max          147480 non-null  float64
 3   temperature_2m_min          147480 non-null  float64
 4   temperature_2m_mean         147480 non-null  float64
 5   apparent_temperature_max    147480 non-null  float64
 6   apparent_temperature_min    147480 non-null  float64
 7   apparent_temperature_mean   147480 non-null  float64
 8   sunrise                     147480 non-null  object
 9   sunset                      147480 non-null  object
 10  shortwave_radiation_sum     147480 non-null  float64
 11  precipitation_sum           147480 non-null  float64
 12  rain_sum                    147480 non-null  float64
 13  snowfall_sum                147480 non-null  float64
 14  precipitation_hours         147480 non-null  float64
 15  windspeed_10m_max           147480 non-null  float64
 16  windgusts_10m_max           147480 non-null  float64
 17  winddirection_10m_dominant  147480 non-null  int64
 18  et0_fao_evapotranspiration  147480 non-null  float64
 19  latitude                    147480 non-null  float64
 20  longitude                   147480 non-null  float64
 21  elevation                   147480 non-null  float64
 22  country                     147480 non-null  object
 23  city                        147480 non-null  object
dtypes: float64(17), int64(2), object(5)
memory usage: 27.0+ MB
None

In [6]:
df1 = df1.drop_duplicates()

In [12]:
import pandas as pd

df1['time'] = pd.to_datetime(df1['time'])

# Filter records from 2019 to 2024 and for specific cities
cities = ['Colombo', 'Kandy', 'Matara','Deniyaya', 'Nuwara Eliya', 'Bibile', 'Monaragala', 'Kurunegala', 'Jaffna']
df2 = df1[(df1['time'].dt.year >= 2019) & (df1['time'].dt.year <= 2024) & (df1['city'].isin(cities))]

# Print the filtered DataFrame
df2

,time,weathercode,temperature_2m_max,temperature_2m_min,temperature_2m_mean,apparent_temperature_max,apparent_temperature_min,apparent_temperature_mean,sunrise,sunset,...,precipitation_hours,windspeed_10m_max,windgusts_10m_max,winddirection_10m_dominant,et0_fao_evapotranspiration,latitude,longitude,elevation,country,city
3287,2019-01-01,2,30.0,23.1,26.1,33.2,24.7,28.7,2019-01-01T00:52,2019-01-01T12:35,...,0.0,14.4,29.9,14,4.58,7.0,79.899994,16.0,Sri Lanka,Colombo
3288,2019-01-02,1,29.4,22.7,25.7,32.6,24.5,27.3,2019-01-02T00:52,2019-01-02T12:36,...,0.0,16.6,31.0,11,5.19,7.0,79.899994,16.0,Sri Lanka,Colombo
3289,2019-01-03,0,30.2,22.6,26.1,33.4,23.4,27.8,2019-01-03T00:52,2019-01-03T12:36,...,0.0,16.0,31.0,10,5.21,7.0,79.899994,16.0,Sri Lanka,Colombo
3290,2019-01-04,3,30.6,22.3,26.0,33.1,23.2,27.6,2019-01-04T00:53,2019-01-04T12:37,...,0.0,16.9,35.6,13,5.22,7.0,79.899994,16.0,Sri Lanka,Colombo
3291,2019-01-05,3,31.1,22.6,26.4,34.6,24.6,28.9,2019-01-05T00:53,2019-01-05T12:37,...,0.0,16.8,32.4,8,5.01,7.0,79.899994,16.0,Sri Lanka,Colombo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127811,2023-06-13,61,29.3,24.5,26.1,34.2,28.0,29.7,2023-06-13T00:21,2023-06-13T12:55,...,14.0,18.9,49.3,212,3.81,7.5,80.399994,124.0,Sri Lanka,Kurunegala
127812,2023-06-14,53,29.1,24.7,26.7,33.8,28.0,30.2,2023-06-14T00:22,2023-06-14T12:55,...,8.0,19.9,43.6,208,4.09,7.5,80.399994,124.0,Sri Lanka,Kurunegala
127813,2023-06-15,51,30.0,25.1,27.1,34.8,28.3,30.7,2023-06-15T00:22,2023-06-15T12:55,...,9.0,17.2,40.7,207,4.15,7.5,80.399994,124.0,Sri Lanka,Kurunegala
127814,2023-06-16,51,29.8,24.8,27.1,34.3,28.3,30.7,2023-06-16T00:22,2023-06-16T12:55,...,15.0,21.3,46.1,214,4.35,7.5,80.399994,124.0,Sri Lanka,Kurunegala
127815,2023-06-17,53,29.8,24.4,26.4,33.2,28.0,29.8,2023-06-17T00:22,2023-06-17T12:56,...,19.0,20.0,43.9,216,3.42,7.5,80.399994,124.0,Sri Lanka,Kurunegala

In [14]:
df2['city'].unique()

array(['Colombo', 'Kandy', 'Jaffna', 'Matara', 'Kurunegala'], dtype=object)

In [18]:
selected_features = ['time', 'temperature_2m_mean', 'apparent_temperature_mean', 'windspeed_10m_max', 'et0_fao_evapotranspiration', 'elevation', 'city']
df3 = df2[selected_features]

In [19]:
df3

,time,temperature_2m_mean,apparent_temperature_mean,windspeed_10m_max,et0_fao_evapotranspiration,elevation,city
3287,2019-01-01,26.1,28.7,14.4,4.58,16.0,Colombo
3288,2019-01-02,25.7,27.3,16.6,5.19,16.0,Colombo
3289,2019-01-03,26.1,27.8,16.0,5.21,16.0,Colombo
3290,2019-01-04,26.0,27.6,16.9,5.22,16.0,Colombo
3291,2019-01-05,26.4,28.9,16.8,5.01,16.0,Colombo
...,...,...,...,...,...,...,...
127811,2023-06-13,26.1,29.7,18.9,3.81,124.0,Kurunegala
127812,2023-06-14,26.7,30.2,19.9,4.09,124.0,Kurunegala
127813,2023-06-15,27.1,30.7,17.2,4.15,124.0,Kurunegala
127814,2023-06-16,27.1,30.7,21.3,4.35,124.0,Kurunegala
127815,2023-06-17,26.4,29.8,20.0,3.42,124.0,Kurunegala

In [20]:
df3.to_csv('SL_weather_data.csv', index=False)